[Unit]
Description=Internet connection check

[Service]
ExecStart=${HOME}/.config/systemd/user/scripts/internet-check.zsh

[Install]
WantedBy=basic.target
