[Unit]
Description=Automatically setup monitors on connection/disconnection

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/home/cagprado/bin/setmonitors -d
ExecStart=/home/cagprado/bin/hdmisound
