[user]
	name = Caio Prado
	email = cagprado@yandex.com
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --color --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)' --abbrev-commit
[push]
	default = tracking
