[user]
	name = Caio Prado
	email = cagprado@yandex.com
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	lg = log --color --graph --pretty=format:'%C(yellow)%h%C(reset) -%C(red)%d%C(reset) %s %C(green)(%cr) %C(blue)<%an>%C(reset)' --abbrev-commit
[push]
	default = tracking
[pull]
	ff = only
[merge]
	tool = nvim
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvim"]
	cmd = nvim -d $REMOTE $LOCAL
[url "git@github.com:"]
#[url "https://github.com.cnpmjs.org/"]
	insteadOf = https://github.com/
