# vim: ft=sh:
# X configuration file

# Setup screens
xset s off -dpms
$HOME/bin/zsh/setmonitors
$HOME/bin/zsh/watchmonitors&

# Export variables
export GTK_IM_MODULE=ibus
export QT_IM_MODULE=ibus
export XMODIFIERS=@im=ibus
