# vim: ft=sh:
# X configuration file

export DE="generic"
export FREETYPE_PROPERTIES="truetype:interpreter-version=38"
export _JAVA_OPTIONS="-Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Dswing.crossplatformlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel -Djdk.gtk.version=3 -Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dsun.java2d.opengl=true"
export QT_QPA_PLATFORMTHEME=qt5ct

# Setup screens
xset s off -dpms
DPI=$($HOME/bin/setmonitors -m HDMI1:r eDP1:p)
cat > $HOME/.Xresources <<-END
	Xft.dpi: $DPI
	rofi.dpi: $DPI
END

if [ "${DPI%.*}" -gt 150 ]; then
    # HiDPI monitor
    export HIDPI=true

    # set scale of common GUI toolkits
    export GDK_SCALE=2
    export GDK_DPI_SCALE=0.5
    export QT_AUTO_SCREEN_SCALE_FACTOR=0
    export QT_SCREEN_SCALE_FACTORS=2

    # GTK2 does not support scaling: set manually tuned HiDPI theme
    export GTK2_RC_FILES=$HOME/.config/gtkrc-2.0-HiDPI
else
    # use subpixel for non-HiDPI monitors
    export FT2_SUBPIXEL_HINTING=2

    # Set default GTK2 theme
    export GTK2_RC_FILES=$HOME/.config/gtkrc-2.0
fi

# Set keyboard and IM
xkbcomp -I$HOME/.config/xkb $HOME/.config/xkb/custom.xkb $DISPLAY
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
