# vim: ft=sh:
# X configuration file

# Start keychain
. $HOME/.keychain.sh

# Setup screens
xset s off -dpms
$HOME/bin/zsh/setmonitors
$HOME/bin/zsh/watchmonitors&

# Export variables
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
