# vim: ft=udevrules
# This rule runs a script whenever monitor configuration changes
ACTION=="change", SUBSYSTEM=="drm", ENV{HOTPLUG}=="1", ENV{SYSTEMD_USER_WANTS}+="setmonitors@$env{SEQNUM}.service", TAG+="systemd"
